<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='Monitoring Agent' Id='744691d0-31c8-4f62-8c12-1fc6aa837447' UpgradeCode='ebb55cd6-2ee1-4440-bc00-73d610a5998c'
	Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Codeweavers'>

	<Package Id='*' Keywords='Installer' Description="Monitoring Agent Installer"
	  Comments='Copyright © 2021 Codeweavers Limited; Available under The MIT License' Manufacturer='Codeweavers Limited'
	  InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

	<Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
	<Property Id='DiskPrompt' Value="Monitoring Agent Installation [1]" />

	<Directory Id='TARGETDIR' Name='SourceDir'>
	  <Directory Id='ProgramFilesFolder' Name='PFiles'>
		<Directory Id='INSTALLDIR' Name='MonitoringAgent'>

			<Component Id='MainExecutable' Guid='0dbe56a4-660e-4299-9232-0677a3d294a0'>
				<File Id='MonitoringAgentExe' Name='Monitoring-Agent.exe' DiskId='1' Source='Monitoring-Agent.exe' KeyPath='yes' />
				<ServiceInstall Account="\LOCAL_ACCOUNT"
					Description='Permits execution of commands for host monitoring purposes'
					ErrorControl='ignore'
					Name = 'Monitoring Agent'
					Id='MonitoringAgentService'
					Start='auto'
					Type='ownProcess'
					Vital='yes'
				/>
				<ServiceControl Id='StartMonitoringAgentService' Start='install' Stop='both' Remove='uninstall' Name='Monitoring Agent' Wait='yes' />
			</Component>
			
			<Component Id='SampleCaCertificate' Guid='d1d9e531-1667-4670-9d3e-d846bcc33228'>
			  <File Id='cacertPem' Name='cacert.pem' DiskId='1' Source='cacert.pem' KeyPath='yes' />
			</Component>
			
			<Component Id='SampleConfigurationIni' Guid='05002cfe-4958-495c-9c5b-ecad4e5b6050'>
			  <File Id='configurationIni' Name='configuration.ini' DiskId='1' Source='configuration.ini' KeyPath='yes' />
			</Component>
			
			<Component Id='ServiceInstallationCommandFile' Guid='648767b8-0b14-42d6-88eb-e4347e88904a'>
			  <File Id='installServiceCmd' Name='installService.cmd' DiskId='1' Source='installService.cmd' KeyPath='yes' />
			</Component>
			
			<Component Id='LicenseFile' Guid='a3e21569-89a0-4683-8866-57fa11086f33'>
			  <File Id='license' Name='LICENSE' DiskId='1' Source='LICENSE' KeyPath='yes' />
			</Component>
			
			<Component Id='SampleServerCertificate' Guid='ab00497a-b889-423c-9985-3d433650ffcf'>
			  <File Id='serverCrt' Name='server.crt' DiskId='1' Source='server.crt' KeyPath='yes' />
			</Component>
			
			<Component Id='SampleServerKey' Guid='7cb0dd12-517e-4096-907b-b8ac8ad8a0ee'>
			  <File Id='serverKey' Name='server.key' DiskId='1' Source='server.key' KeyPath='yes' />
			</Component>
			
			<Component Id='ServiceUninstallationCommandFile' Guid='26e3bec7-6fb7-4620-82b3-9ec759e7b588'>
			  <File Id='uninstallServiceCmd' Name='uninstallService.cmd' DiskId='1' Source='uninstallService.cmd' KeyPath='yes' />
			</Component>

		  </Directory>
	  </Directory>
	</Directory>

	<Feature Id='Complete' Level='1'>
	  <ComponentRef Id='MainExecutable' />
	  <ComponentRef Id='SampleCaCertificate' />
	  <ComponentRef Id='SampleConfigurationIni' />
	  <ComponentRef Id='ServiceInstallationCommandFile' />
	  <ComponentRef Id='LicenseFile' />
	  <ComponentRef Id='SampleServerCertificate' />
	  <ComponentRef Id='SampleServerKey' />
	  <ComponentRef Id='ServiceUninstallationCommandFile' />
	</Feature>
  </Product>
</Wix>
