Package: monitoring-agent
Version: UPDATEME
Section: net
Priority: optional
Architecture: UPDATEME
Installed-Size: 11264
Depends: 
Recommends:
Suggests: monitoring-plugins-basic
Maintainer: Infrastructure Team <monitoring-agent@codeweavers.net>
Description: Cross platform HTTP based monitoring agent, essentially a replacement for nrpe
